@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Klee One', cursive;
  background-color: #0078c8;
}

.container_accueil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  color: white;
}

.train-image {
  max-width: 200px;
  margin-bottom: 15px;
}

.welcome {
  font-size: 24px;
  margin-bottom: 50px;
  line-height: 1.5;
}

.start-button {
  background-color: white;
  color: #0078c8;
  border: none;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 15px;
  text-decoration: none;
  transition: 0.3s;
}

.start-button:hover {
  background-color: #e0e0e0;
}

/* Pour la carte en plein écran avec panneau latéral */
.container {
  display: flex;
  flex-direction: row; /* Important */
  height: 100vh;
}

/* Carte Leaflet */
#map {
  flex: 1;
  height: 100%;
}

/* Colonne bleue */
.bottom-blue {
  width: 300px;
  background-color: #0078c8;
  padding: 40px 20px;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: 'Klee One', cursive;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
}

.bottom-blue.small {
  justify-content: center;
}

.bottom-blue.large {
  justify-content: flex-start;
}

/* Titre du formulaire */
.form-title {
  font-size: 20px;
  margin-bottom: 20px;
}

/* Boîte du formulaire */
.form-box {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-box input {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  font-family: 'Klee One', cursive;
}

/* Suggestions */
.suggestions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 150px;
  overflow-y: auto;
}

.suggestion-item {
  background-color: #f0f0f0;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.suggestion-item:hover {
  background-color: #ddd;
}

/* Bouton recherche */
.search-button {
  margin-top: 20px;
  background-color: #085A8C;
  color: white;
  border: none;
  padding: 10px 110px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.search-button:hover {
  background-color: #0b4264;
}

.search-button {
  display: none; /* Caché au chargement */
}


.logo {
  color: white;
  font-size: 72px;
  margin: 0 0 40px 0;
  text-align: center;
}


.info-title {
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}

.info-content {
  background-color: white;
  color: #0078c8;
  border-radius: 8px;
  font-size: 20px;
}
